.card {
  background: #3b3b3b;
  border: 10px solid #e15c0a;
  border-radius: 20px;
  padding: 0px;
}

.card__img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: -5px;
}

h2 {
  text-align: center;
  font-family: "Calibri";
}

.btn {
  display: block;
  margin: 0 auto 20px;
  padding: 5px 10px;
  background: #181818;
  color: aliceblue;
  box-shadow: none;
}
